<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div id="todo">
    </div>
    <script type="text/template" id="item-template">
        <div>
            <input id="todo_complete" type="checkbox" <%= completed ? 'checked="checked"' : '' %> />
            <label><%= title %></label>
            <button class="destroy">Destroy</button>
        </div>
        <input class="edit" value="<%= title %>" />
    </script>
    <script type="text/javascript" src="js/jQuery/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="js/Underscorejs/underscore-min.js"></script>
    <script type="text/javascript" src="js/Backbonejs/backbone-min.js"></script>
    <script type="text/javascript" src="js/todo.js"></script>
</body>
</html>
